.form-box, 
.register,
.label-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.register h1{
    background-color: var(--cream);
    border: 2px dotted var(--terracota);
    color: var(--light-green);
    position: absolute;
    transform: translateY(-27rem);
    z-index: 9;
    padding: 1rem;
}

.form-box{
    max-width: 40rem;
    width: 100%;
    height: 55rem;
    justify-content: center;
    border: 2px dotted var(--terracota);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    gap: 2rem;
}

.label-box{
    width: 95%;
    gap: 1rem;
    height: 10rem;
    align-items: flex-start;
    color: var(--terracota);
    font-weight: 600;
}

.input-box{
    background-color: transparent;
    border: 2px dotted var(--light-green);
    border-radius: .6rem;
}

::placeholder{
    color: var(--black-green);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.5rem;
}

.btn-auth{
    width: 90%;
    padding: 1rem 2rem;
    background-color: var(--terracota);
    color: var(--white);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.form-box p{
    color: var(--light-green);
    font-weight: 600;
}

.form-box a {
    color: var(--terracota);
}