

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    background-color: var(--cream);
    font-family: var(--font);
}

.wrapper{
    max-width: 190rem;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

input{
    outline: none;
    border: none;
    padding: 1rem 2.5rem;
    width: 95%;
    color: var(--black-green);
    font: var(--font);
}

button{
    border: none;
    font-family: var(--font); 
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}