.navbar,
.user-info,
.navbar-btns{
    display: flex;
    align-items: center;
}

.navbar{
    justify-content: space-around;
    margin: 1rem;
    border: 2px dotted var(--terracota);
    border-radius: .6rem;
    height: 9rem;
}

.user-info{
    gap: 1rem;
}

.user-info p {
    color: var(--terracota);
    font-weight: 600;
}

.navbar-btns{
    gap: 1rem;
}

.navbar-btns a {
    background: var(--light-green);
    padding: 1rem 1.5rem;
    color: var(--white);
    border-radius: .4rem;
}

@media (min-width: 320px) and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        width: 95%;
        height: fit-content;
        padding: 2rem;
        gap: 3rem;
        margin: 2rem auto;
    }
}
